
{{> header}}

<div class="container">

	{{#if envelopes}}

		<br />

		<h3>
			送信ステータス
		</h3>

	    <p class="h3-hint">
	      現在のセッションのみのトランザクション情報が利用可能です。(<a href="/restart-session">セッションの再取得</a>)
	    </p>

		<table class="table table-minimal">
			<thead>
				<th>
					タイトル
				</th>
				<th>
					申請者
				</th>
				<th>
					最終更新
				</th>
				<th>
					
				</th>
			</thead>
			<tbody>
				{{#each envelopes}}
					<tr>
						<td>
							{{data.emailSubject}}
						</td>
						<td>
							{{recipients.signers.[0].name}}
							{{#ifCond recipients.signers.length ">" 1}}
								&amp; {{recipients.signers.[1].name}}
							{{/ifCond}}
						</td>
						<td>
							{{moment lastUpdate fromNow=null}}
						</td>
						<td>
							<div class="dropdown">
							  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							    オプション
							    <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							  	{{#each documents}}
							    	<li><a href="/envelopes/{{../data.envelopeId}}/download/{{documentId}}" target="_blank">{{name}}のダウンロード</a></li>
							  	{{/each}}
							  	<li role="separator" class="divider"></li>
							    <li><a href="/envelopes/{{envelopeId}}/download/combined" target="_blank">結合された文書のダウンロード</a></li>
							  </ul>
							</div>
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	{{else}}

		<div class="text-center">

			<br />

			<h3>
				3つのサンプルから、何らかのローンを申し込んで下さい。
			</h3>
			<h3>
				申し込んだ結果がこちらに表示されます。
			</h3>

			<br />


		</div>

	{{/if}}

	{{> footer}}
</div>