
{{> header}}

<div class="container">

  <div id="error-why"></div>

  <div class="row">
    <div class="col-sm-5 col-sm-offset-1">

      <h2 class="text-center">
        ヨットローン
      </h2>

      <hr />


      <form id="mainForm1" data-toggle="validator" method="POST" action="/loan/sailboat">

        <div class="form-group">
          <label for="inputLastName">姓</label>
          <input type="text" class="form-control" id="inputLastName" name="inputLastName" placeholder="" required value="佐藤">
          <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
          <label for="inputFirstName">名</label>
          <input type="text" class="form-control" id="inputFirstName" name="inputFirstName" placeholder="" required value="達也">
          <div class="help-block with-errors"></div>
        </div>

        <div class="form-group">
          <label for="inputEmail">メールアドレス</label>
          <input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="" required value="{{default_email}}">
          <div class="help-block with-errors"></div>
        </div>

        <p>
          <span class="collapseTrigger collapsed" data-toggle="collapse" data-target="#collapseAdvanced" aria-expanded="false" aria-controls="collapseAdvanced">
            <i class="fa fa-plus-square-o show-on-collapsed" aria-hidden="true"></i><i class="fa fa-minus-square-o show-on-open" aria-hidden="  true"></i> 追加情報
          </span>
        </p>
        <div class="collapse" id="collapseAdvanced">

          <div class="form-group">
            <label for="input">署名方法</label>
            <select class="form-control" name="inputSigningLocation">
              {{#each signing_location_options}}
                <option value="{{this}}" {{#ifCond this "==" ../config.signing_location}}selected{{/ifCond}}>
                  {{this}}
                </option>
              {{/each}}
            </select>

            <span class="help-block">
              本画面内での署名 (enbedded) もしくはメールでの署名案内送信 (remote) 
            </span>
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <label for="access_code">アクセスコード</label>
            <input type="text" class="form-control" id="access_code" name="inputAccessCode" placeholder="" value="{{config.access_code}}" />
            <span class="help-block">
              ドキュメントへ署名する前にお客様に入力していただくアクセスコードを設定 (任意)
            </span>
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <label for="authentication">Additional Authentication</label>
            <select class="form-control" name="inputAuthentication" disabled>
              {{#each authentication_options}}
                <option value="{{this}}" {{#ifCond this "==" ../config.authentication}}selected{{/ifCond}}>
                  {{this}}
                </option>
              {{/each}}
            </select>
            <span class="help-block">
              ドキュメントへ署名する前に電話による認証を有効化 (<a href="https://support.docusign.com/guides/ndse-user-guide-how-phone-authentication-works" target="_blank">詳細参照</a>)
              <br />
              * 本設定はDocuSign側設定で有効化可能 
            </span>
          </div>
        </div>


        <hr />

        <div class="appraiser">
          <h4>
            内部鑑定人情報
          </h4>
          <div class="form-group">
            <label for="inputAppraiserLastName">姓</label>
            <input type="text" class="form-control" id="inputAppraiserLastName" name="inputAppraiserLastName" placeholder="" required value="山川" />
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <label for="inputAppraiserFirstName">名</label>
            <input type="text" class="form-control" id="inputAppraiserFirstName" name="inputAppraiserFirstName" placeholder="" required value="譲一" />
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <label for="inputAppraiserEmail">メールアドレス</label>
            <input type="email" class="form-control" id="inputAppraiserEmail" name="inputAppraiserEmail" placeholder="" required value="{{default_email}}" />
            <div class="help-block with-errors"></div>
          </div>
        </div>

        <p>
          <span class="collapseTrigger collapsed" data-toggle="collapse" data-target="#collapseAdvancedAppraiser" aria-expanded="false" aria-controls="collapseAdvancedAppraiser">
            <i class="fa fa-plus-square-o show-on-collapsed" aria-hidden="true"></i><i class="fa fa-minus-square-o show-on-open" aria-hidden="  true"></i> 追加情報
          </span>
        </p>
        <div class="collapse" id="collapseAdvancedAppraiser">

          <div class="form-group">
            <label for="input">署名方法</label>
            <select class="form-control" name="inputSigningLocationAppraiser">
              {{#each signing_location_options}}
                <option value="{{this}}" {{#ifCond this "==" ../config.signing_location}}selected{{/ifCond}}>
                  {{this}}
                </option>
              {{/each}}
            </select>

            <span class="help-block">
              本画面内での署名 (enbedded) もしくはメールでの署名案内送信 (remote) 
            </span>
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <label for="access_codeAppraiser">アクセスコード</label>
            <input type="text" class="form-control" id="access_codeAppraiser" name="inputAccessCodeAppraiser" placeholder="" value="{{config.access_code}}" />
            <span class="help-block">
              ドキュメントへ署名する前にお客様に入力していただくアクセスコードを設定 (任意)
            </span>
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <label for="authenticationAppraiser">追加認証</label>
            <select class="form-control" name="inputAuthenticationAppraiser" disabled>
              {{#each authentication_options}}
                <option value="{{this}}" {{#ifCond this "==" ../config.authentication}}selected{{/ifCond}}>
                  {{this}}
                </option>
              {{/each}}
            </select>
            <span class="help-block">
              ドキュメントへ署名する前に電話による認証を有効化 (<a href="https://support.docusign.com/guides/ndse-user-guide-how-phone-authentication-works" target="_blank">詳細参照</a>)
              <br />
              * 本設定はDocuSign側設定で有効化可能
            </span>
          </div>
        </div>




        <hr />

        <div class="row">
          <div class="col-sm-12 text-center">
            <button type="submit" class="btn btn-primary has-spinner">
              ヨットローンの申し込み
              <span class="spinner"><i class="fa fa-spinner fa-spin icon-spin"></i></span>
            </button>
          </div>
        </div>


      </form>

    </div>

    <div class="col-sm-6">

      <h2 class="text-center" style="opacity:0;">
        Personal Loan Application
      </h2>

      <hr />


      <p class="text-right2">
        <span class="collapseTrigger collapsed" data-toggle="collapse" data-target="#collapseHow" aria-expanded="false" aria-controls="collapseHow">
          <i class="fa fa-plus-square-o show-on-collapsed" aria-hidden="true"></i><i class="fa fa-minus-square-o show-on-open" aria-hidden="  true"></i> 本ケースの背景
        </span>
      </p>
      <div class="collapse" id="collapseHow">

        <hr />

        <h4>
          本サンプルの機能:
        </h4>
        <ul>
          <li>署名/イニシャル</li>
          <li>カスタムブランディング</li>
          <li>受信者による追加ファイル添付</li>
          <li>署名/承認ワークフロー</li>
          <li>PNG画像の添付</li>
          <li>複雑なドキュメント参照権限管理</li>
        </ul>

        <br />


        <h4>
          コードの流れ: 
        </h4>

        <h5>
          ステップ 1
        </h5>

        <p>
          入力されたフォーム情報が送信された際に、<a href="https://docs.docusign.com/esign/restapi/Envelopes/Envelopes/create/" target="_blank">Envelopes: create</a> APIを使って、対応したフォーム内容を元に署名リクエストを生成します。署名する <code>Documents</code>、エンベロープに任意の画像ファイルを添付するための <code>signerAttachmentTab</code> を利用します。 <code>AccessCode</code> や電話認証、IDチェックなどの追加認証も設定することが可能です。また、埋め込み署名もしくはリモート署名を使って署名することが可能です。
        </p> 

        <p>
          このワークフローは、 <code>brandId</code> プロパティを使って、署名時の画面にカスタムブランディングを設定しています。また、複数の文書を含んでおり、Document Visibility機能を利用しています。このDocument Visibility機能は、主に文書の署名がすべて完了するまで、受信者には承認者の文書を参照させないために利用されます。 
        </p>          
          
        <p>
          Document Visibilityの機能のルールは下記になります:
          <ul>
            <li>
              エンベロープ内の1つのドキュメントについて、ある受信者向けにフィールドが設定されている場合、もしくは全くフィールドが設定されていない場合、そのある受信者はそのドキュメントは参照できる
              You can only show documents to a recipient if they have a tab on the document or nobody has a tab on the document
            </li>
            <li>
              ある受信者について、1つのドキュメントを参照不可にしたい場合、他の受信者向けフィールドを設定しつつ、そのドキュメントにある受信者用フィールドを設定しないことで、そのドキュメントは表示されなくなる。そのドキュメントに、他の受信者用フィールドが設定されていると、自動的にフィールドがない受信者には非表示となる。フィールドがいずれの受信者向けにも存在しない場合は、自動非表示とはならない。
            </li>
          </ul>

          申込み文書を承認者に参照させるためには、ブランクで非表示な<code>Text</code> フィールドを下記のように設定します:

        </p>
        
        <p>
<pre>

  recipientId: '2',
  documentId: '1',
  pageNumber: '1',
  xPosition: '0',
  yPosition: '0',
  value: '',
  locked: 'true'

</pre>

        </p>

<p>
  他のフィールドのうち、"optional"属性がSignerAttachmentフィールドに追加されていることに留意して下さい:
</p>
<pre>
  "signerAttachmentTabs": [
    {
      <strong>"optional": "true",</strong>
      "documentId": "1",
      "recipientId": "1",
      "pageNumber": "1",
      "anchorString": "Picture of Boat",
      "anchorXOffset": "0",
      "anchorYOffset": "40"
    }
</pre>
        <p>
          また、<a href="https://www.docusign.com/developer-center/explore/features/stick-etabs#tab-positioning" target="_blank">Auto-Place</a> 機能を使って、フィールドを自動配置しています。(注:  <code>anchorString</code>、 <code>anchorXOffset</code>、<code>anchorYOffset</code> )
        </p>

        <p>
          エンベロープを作成し送信するため、HTTPのPOSTリクエストを下記に送信します:

<pre>
POST /v2/accounts/{accountId}/envelopes
</pre>
        </p>

        <p style="padding:20px 0;">
          <span class="collapseTrigger collapsed" data-toggle="collapse" data-target="#collapseJSON" aria-expanded="false" aria-controls="collapseJSON">
            <i class="fa fa-plus-square-o show-on-collapsed" aria-hidden="true"></i><i class="fa fa-minus-square-o show-on-open" aria-hidden="  true"></i> サンプルリクエストのJSONを参照
          </span>
        </p>
        <div class="collapse" id="collapseJSON">
<pre>
{
  "status": "sent",
  "emailSubject": "Sailboat Loan Application",
  "emailBlurb": "Please sign the Loan application to start the application process.",
  "enforceSignerVisibility": "true",
  "brandId": "f157069c-3828-4073-a298-0bf5749b27bb",
  "documents": [
    {
      "documentId": "1",
      "name": "Application",
      "fileExtension": "docx",
      "documentBase64": "-- Base64-encoding document bytes are here --"
    },
    {
      "documentId": "2",
      "name": "Map",
      "fileExtension": "png",
      "documentBase64": "-- Base64-encoding document bytes are here --"
    },
    {
      "documentId": "3",
      "name": "Appraiser",
      "fileExtension": "docx",
      "documentBase64": "-- Base64-encoding document bytes are here --"
    }
  ],
  "recipients": {
    "signers": [
      {
        "tabs": {
          "signHereTabs": [
            {
              "documentId": "1",
              "recipientId": "1",
              "pageNumber": "1",
              "anchorString": "X:",
              "anchorXOffset": "100",
              "anchorYOffset": "-2"
            }
          ],
          "initialHereTabs": [
            {
              "documentId": "1",
              "recipientId": "1",
              "pageNumber": "1",
              "anchorString": "X (initial):",
              "anchorXOffset": "100",
              "anchorYOffset": "-2"
            }
          ],
          "signerAttachmentTabs": [
            {
              "optional": "true",
              "documentId": "1",
              "recipientId": "1",
              "pageNumber": "1",
              "anchorString": "Picture of Boat",
              "anchorXOffset": "0",
              "anchorYOffset": "40"
            }
          ],
          "fullNameTabs": [
            {
              "documentId": "1",
              "recipientId": "1",
              "pageNumber": "1",
              "anchorString": "Full Name:",
              "anchorXOffset": "100",
              "anchorYOffset": "-2"
            }
          ],
          "emailTabs": [
            {
              "name": "Email",
              "value": "-- RECIPIENT EMAIL HERE --",
              "tabLabel": "Email",
              "documentId": "1",
              "recipientId": "1",
              "pageNumber": "1",
              "anchorString": "E-mail:",
              "anchorXOffset": "100",
              "anchorYOffset": "-2"
            }
          ]
        },
        "excludedDocuments": [
          "2"
        ],
        "name": "-- RECIPIENT NAME HERE --",
        "email": "-- RECIPIENT EMAIL HERE --",
        "recipientId": "1",
        "clientUserId": "1001"
      },
      {
        "tabs": {
          "signHereTabs": [
            {
              "documentId": "3",
              "recipientId": "2",
              "pageNumber": "1",
              "anchorString": "Appraiser Signature:",
              "anchorXOffset": "100",
              "anchorYOffset": "-2"
            }
          ],
          "fullNameTabs": [
            {
              "documentId": "3",
              "recipientId": "2",
              "pageNumber": "1",
              "anchorString": "Appraiser Name:",
              "anchorXOffset": "100",
              "anchorYOffset": "-2"
            }
          ],
          "emailTabs": [
            {
              "name": "Email",
              "value": "-- APPRAISER EMAIL HERE --",
              "tabLabel": "Email",
              "documentId": "3",
              "recipientId": "2",
              "pageNumber": "1",
              "anchorString": "E-mail:",
              "anchorXOffset": "100",
              "anchorYOffset": "-2"
            }
          ]
        },
        "name": "Caitlin Erlend",
        "email": "-- APPRAISER NAME HERE --",
        "recipientId": "2"
      }
    ]
  }
}
</pre>
        </div>

        <h5>
          Step 2
        </h5>

        <p>
          埋め込み署名が選択された場合、受信者用の署名URLを生成するため、<a href="https://docs.docusign.com/esign/restapi/Envelopes/EnvelopeViews/createRecipient/" target="_blank">EnvelopeViews: createRecipient</a> APIを次に利用します。正しく動作させるために、ステップ1でエンベロープが送信された際の受信者を <code>clientUserId</code> プロパティにセットする必要があります。
        </p>

        <p>
          エンベロープが送信された後、エンベロープIDと受信者情報がDocuSign側にセッション情報として保存されます。それから、<tt>/sign/embedded</tt> ページにリダイレクトされます。ここでは、セッション情報からエンベロープIDと受信者情報を取得し、生成されたURLからブラウザ内にフルサイズ(幅と高さ)のIFrameとして受信者用のビューが生成されます。
        </p>
        
        <p>
          エンベロープの受信者用ビューを生成するため、HTTPのPOSTリクエストを下記に送信します:
        
<pre>
POST /v2/accounts/{accountId}/envelopes/{envelopeId}/views/recipient
</pre>
        </p>
        <p style="padding:20px 0;">
          <span class="collapseTrigger collapsed" data-toggle="collapse" data-target="#collapseJSON2" aria-expanded="false" aria-controls="collapseJSON2">
            <i class="fa fa-plus-square-o show-on-collapsed" aria-hidden="true"></i><i class="fa fa-minus-square-o show-on-open" aria-hidden="  true"></i> サンプルリクエストのJSONを参照 ( <code>ReturnUrl</code> 情報)
          </span>
        </p>
        <div class="collapse" id="collapseJSON2">
<pre>
{
  "clientUserId": "1001",
  "userId": null,
  "userName": "-- RECIPIENT NAME HERE --",
  "email": "-- RECIPIENT EMAIL HERE --",
  "recipientId": "1",
  "returnUrl": "-- RETURN URL HERE --",
  "pingUrl": null,
  "pingFrequency": null,
  "authenticationMethod": "email",
  "assertionId": null,
  "authenticationInstant": null,
  "securityDomain": null
}
</pre>
        </div>

      </div>

    </div>

  </div>

  <hr>

  {{> footer}}

</div>
