
{{> header}}

<div class="container">

  <div id="error-why"></div>

  <div class="row">
    <div class="col-sm-5 col-sm-offset-1">

      <h2 class="text-center">
        自動車ローン申し込み
      </h2>

      <hr />

      <form id="mainForm1" data-toggle="validator" method="POST" action="/loan/auto">

        <div class="form-group">
          <label for="inputLastName">姓</label>
          <input type="text" class="form-control" id="inputLastName" name="inputLastName" placeholder="" required value="佐藤">
          <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
          <label for="inputFirstName">名</label>
          <input type="text" class="form-control" id="inputFirstName" name="inputFirstName" placeholder="" required value="達也">
          <div class="help-block with-errors"></div>
        </div>

        <div class="form-group">
          <label for="inputEmail">メールアドレス</label>
          <input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="" required value="{{default_email}}">
          <div class="help-block with-errors"></div>
        </div>

        <div class="form-group">
          <label for="inputPhone">電話番号</label>
          <input type="tel" class="form-control" id="inputPhone" name="inputPhone" placeholder="" value="" />
          <div class="help-block with-errors"></div>
        </div>

        <p>
          <span class="collapseTrigger collapsed" data-toggle="collapse" data-target="#collapseAdvanced" aria-expanded="false" aria-controls="collapseAdvanced">
            <i class="fa fa-plus-square-o show-on-collapsed" aria-hidden="true"></i><i class="fa fa-minus-square-o show-on-open" aria-hidden="  true"></i> 追加情報
          </span>
        </p>
        <div class="collapse" id="collapseAdvanced">

          <div class="form-group">
            <label for="input">署名方法</label>
            <select class="form-control" name="inputSigningLocation">
              {{#each signing_location_options}}
                <option value="{{this}}" {{#ifCond this "==" ../config.signing_location}}selected{{/ifCond}}>
                  {{this}}
                </option>
              {{/each}}
            </select>

            <span class="help-block">
              本画面内での署名 (enbedded) もしくはメールでの署名案内送信 (remote) 
            </span>
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <label for="access_code">アクセスコード</label>
            <input type="text" class="form-control" id="access_code" name="inputAccessCode" placeholder="" value="{{config.access_code}}" />
            <span class="help-block">
              ドキュメントへ署名する前にお客様に入力していただくアクセスコードを設定 (任意)
            </span>
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <label for="authentication">追加認証</label>
            <select class="form-control" name="inputAuthentication" disabled>
              {{#each authentication_options}}
                <option value="{{this}}" {{#ifCond this "==" ../config.authentication}}selected{{/ifCond}}>
                  {{this}}
                </option>
              {{/each}}
            </select>
            <span class="help-block">
              ドキュメントへ署名する前に電話による認証を有効化 (<a href="https://support.docusign.com/guides/ndse-user-guide-how-phone-authentication-works" target="_blank">詳細参照</a>)
              <br />
              * 本設定はDocuSign側設定で有効化可能 
            </span>
          </div>
        </div>


        <hr />

        <div class="checkbox">
          <label>
            <input type="checkbox" id="inputCosignerCheckbox" name="inputCosignerCheckbox" /> 共同署名者を含む
          </label>
        </div>
        <div class="cosigner" style="display:none;">
          <h3>
            共同署名者情報
          </h3>
          <div class="form-group">
            <label for="inputCosignerLastName">姓</label>
            <input type="text" class="form-control" id="inputCosignerLastName" name="inputCosignerLastName" placeholder="" required value="山川" />
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <label for="inputCosignerFirstName">名</label>
            <input type="text" class="form-control" id="inputCosignerFirstName" name="inputCosignerFirstName" placeholder="" required value="譲一" />
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <label for="inputCosignerEmail">メールアドレス</label>
            <input type="email" class="form-control" id="inputCosignerEmail" name="inputCosignerEmail" placeholder="" value="{{default_email}}" />
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <label for="inputCosignerPhone">電話番号</label>
            <input type="tel" class="form-control" id="inputCosignerPhone" name="inputCosignerPhone" placeholder="" value="" />
            <div class="help-block with-errors"></div>
          </div>

          <p>
            <span class="collapseTrigger collapsed" data-toggle="collapse" data-target="#collapseAdvancedCosigner" aria-expanded="false" aria-controls="collapseAdvancedCosigner">
              <i class="fa fa-plus-square-o show-on-collapsed" aria-hidden="true"></i><i class="fa fa-minus-square-o show-on-open" aria-hidden="  true"></i> 追加情報
            </span>
          </p>
          <div class="collapse" id="collapseAdvancedCosigner">

            <div class="form-group">
              <label for="input">署名方法</label>
              <select class="form-control" name="inputSigningLocationCosigner">
                {{#each signing_location_options}}
                  <option value="{{this}}" {{#ifCond this "==" ../config.signing_location}}selected{{/ifCond}}>
                    {{this}}
                  </option>
                {{/each}}
              </select>

              <span class="help-block">
                本画面内での署名 (enbedded) もしくはメールでの署名案内送信 (remote) 
              </span>
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
              <label for="access_codeCosigner">アクセスコード</label>
              <input type="text" class="form-control" id="access_codeCosigner" name="inputAccessCodeCosigner" placeholder="" value="{{config.access_code}}" />
              <span class="help-block">
                ドキュメントへ署名する前にお客様に入力していただくアクセスコードを設定 (任意)
              </span>
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
              <label for="authenticationCosigner">追加認証</label>
              <select class="form-control" name="inputAuthenticationCosigner" disabled>
                {{#each authentication_options}}
                  <option value="{{this}}" {{#ifCond this "==" ../config.authentication}}selected{{/ifCond}}>
                    {{this}}
                  </option>
                {{/each}}
              </select>
              <span class="help-block">
                ドキュメントへ署名する前に電話による認証を有効化 (<a href="https://support.docusign.com/guides/ndse-user-guide-how-phone-authentication-works" target="_blank">詳細参照</a>)
                <br />
                * 本設定はDocuSign側設定で有効化可能
              </span>
            </div>
          </div>




        </div>

        <hr />

        <h4>
          お借り上げ情報
        </h4>
        <div class="form-group">
          <label for="inputLoanAmount">ご希望融資金額</label>
          <div>
            <input type="number" class="form-control" id="inputLoanAmount" name="inputLoanAmount" placeholder="" required value="36000" style="display:inline-block;width:100px;text-align:right;" /> 円
          </div>
          <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
          <label for="inputLoanLength">支払い回数</label>
          <div>
            <input type="number" class="form-control" id="inputLoanLength" name="inputLoanLength" placeholder="" required value="36" style="display:inline-block;width:70px;text-align:right;" /> ヶ月
          </div>
          <div class="help-block with-errors"></div>
        </div>

        <hr />

        <div class="row">
          <div class="col-sm-12 text-center">
            <button type="submit" class="btn btn-primary has-spinner">
              自動車ローン申し込み
              <span class="spinner"><i class="fa fa-spinner fa-spin icon-spin"></i></span>
            </button>
          </div>
        </div>


      </form>


      <script type="text/javascript">
        $(document).ready(function(){
          $('#inputCosignerCheckbox').on('click', function(){
            $('.cosigner').toggle();
            if($(this).is(':checked')){
              $('#inputCosignerEmail').attr('required',true);
            } else {
              console.log('removed');
              $('#inputCosignerEmail').removeAttr('required');
            }
          });

        });
      </script>

    </div>

    <div class="col-sm-6">

      <h2 class="text-center" style="opacity:0;">
        自動車ローン申し込み
      </h2>

      <hr />

      <p class="text-right2">
        <span class="collapseTrigger collapsed" data-toggle="collapse" data-target="#collapseHow" aria-expanded="false" aria-controls="collapseHow">
          <i class="fa fa-plus-square-o show-on-collapsed" aria-hidden="true"></i><i class="fa fa-minus-square-o show-on-open" aria-hidden="  true"></i> 本ケースの背景
        </span>
      </p>
      <div class="collapse" id="collapseHow">

        <hr />

        <h4>
          本サンプルの機能:
        </h4>
        <ul>
          <li>テンプレートを利用した送信</li>
          <li>複数の署名者</li>
          <li>複数の文書</li>
          <li>計算フィールド</li>
        </ul>

        <br />


        <h4>
          コードの流れ: 
        </h4>

        <h5>
          ステップ 1
        </h5>

        <p>
          入力されたフォーム情報が送信された際に、<a href="https://developers.docusign.com/esign-rest-api/reference/Envelopes/Envelopes/create" target="_blank">Envelopes: create</a> APIを使って、対応したフォーム内容を元に署名リクエストを生成します。本ケースではテンプレートを利用しているため、<code>templateId</code> プロパティでエンベロープとして用いるテンプレートを指定し、 <code>templateRoles</code> ノード内でテンプレートのロールに対して受信者を割り当てます。 
        </p>
          
        <p>
          ひとつのロールに対して、ひとりの受信者を対応させるため、<code>roleName</code> プロパティを利用します。この値は、テンプレートで設定されたロール名に対して、完全に等しい値にする必要があります。本ケースでは複数受信者が設定されているため、それぞれ申請者と共同署名者をノード内で適切に指定します。それぞれのロールに対して、フィールドのデフォルト値を設定するためには、個人ローンサンプルで利用したように、<code>tabs</code> ノードを使います。ただし、テンプレート内でフィールドの位置は既に設定しているため、ノードの中では位置情報は省略します。
        </p>

        <p>
          フィールドを特定し生成するため、<code>tabLabel</code> と <code>value</code> プロパティをそれぞれに利用します。埋め込み署名機能を再度使用するため、<code>clientUserId</code> プロパティをそれぞれの受信者(もしくは本ケースではテンプレートのロール)にセットします。
        </p>

        <p>
          テンプレートからエンベロープを作成し、送信するために、HTTPのPOSTリクエストを下記に送信します:
        
<pre>
POST /v2/accounts/{accountId}/envelopes
</pre>

        <p style="padding:20px 0;">
          <span class="collapseTrigger collapsed" data-toggle="collapse" data-target="#collapseJSON" aria-expanded="false" aria-controls="collapseJSON">
            <i class="fa fa-plus-square-o show-on-collapsed" aria-hidden="true"></i><i class="fa fa-minus-square-o show-on-open" aria-hidden="  true"></i> サンプルリクエストのJSONを参照
          </span>
        </p>
        <div class="collapse" id="collapseJSON">
<pre>
{
  "status": "sent",
  "emailSubject": "Auto Loan Application",
  "emailBlurb": "Please sign the Loan application to start the application process.",
  "documents": [],
  "templateId": "ea7c6390-9ee5-4dcb-8319-c87b6a9dc7d8",
  "templateRoles": [
    {
      "email": "-- RECIPIENT EMAIL HERE --",
      "roleName": "applicant",
      "name": "-- RECIPIENT NAME HERE --",
      "clientUserId": "1001",
      "tabs": {
        "textTabs": [
          {
            "tabLabel": "Phone",
            "recipientId": "1",
            "value" : "5555555555"
          }
        ]
      },
      "recipientId": "1"
    },
    {
      "email": "-- RECIPIENT (COSIGNER) EMAIL HERE --",
      "roleName": "cosigner",
      "name": "-- RECIPIENT (COSIGNER) NAME HERE --",
      "clientUserId": "2002",
      "tabs": {
        "textTabs": [
          {
            "tabLabel": "PhoneCosigner",
            "recipientId": "2"
          }
        ]
      },
      "recipientId": "2"
    },
    {
      "email": "-- INTERNAL EMPLOYEE EMAIL HERE --",
      "roleName": "employee",
      "name": "-- INTERNAL EMPLOYEE NAME HERE --"
    }
  ]
}
</pre>
        </div>

        <h5>
          ステップ 2
        </h5>

        <p>
          埋め込み署名が選択された場合、受信者用の署名URLを生成するため、<a href="https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeViews/createRecipient" target="_blank">EnvelopeViews: createRecipient</a> APIを次に利用します。正しく動作させるために、ステップ1でエンベロープが送信された際の受信者を <code>clientUserId</code> プロパティにセットする必要があります。
        </p>

        <p>
          エンベロープが送信された後、エンベロープIDと受信者情報がDocuSign側にセッション情報として保存されます。それから、<tt>/sign/embedded</tt> ページにリダイレクトされます。ここでは、セッション情報からエンベロープIDと受信者情報を取得し、生成されたURLからブラウザ内にフルサイズ(幅と高さ)のIFrameとして受信者用のビューが生成されます。
        </p>

        <br />
        
        <p>
          エンベロープの受信者用ビューを生成するため、HTTPのPOSTリクエストを下記に送信します:
        
<pre>
POST /v2/accounts/{accountId}/envelopes/{envelopeId}/views/recipient
</pre>
        </p>
        <p style="padding:20px 0;">
          <span class="collapseTrigger collapsed" data-toggle="collapse" data-target="#collapseJSON2" aria-expanded="false" aria-controls="collapseJSON2">
            <i class="fa fa-plus-square-o show-on-collapsed" aria-hidden="true"></i><i class="fa fa-minus-square-o show-on-open" aria-hidden="  true"></i> サンプルリクエストのJSONを参照 ( <code>ReturnUrl</code> 情報)
          </span>
        </p>
        <div class="collapse" id="collapseJSON2">
<pre>
{
  "clientUserId": "1001",
  "userName": "-- RECIPIENT NAME HERE --",
  "email": "-- RECIPIENT EMAIL HERE --",
  "recipientId": "1",
  "returnUrl": "-- RETURN URL HERE --",
  "authenticationMethod": "email"
}
</pre>
        </div>


      </div>



    </div>

  </div>

  <hr>

  {{> footer}}

</div>

